/*
Theme Name:     HAIP2012
Theme URI:      http://2012.haip.cc/
Description:    A custom theme for the HAIP2012 festival (a child theme for FriedClean). 
Author:         Marko MrdjenoviÄ
Author URI:     http://friedcell.si/
Template:       friedclean
Version:        1.0
*/

@import url("friedclean/style.css");

@font-face {
	font-family: 'BitstreamVeraSansMono';
	src: url('VeraMono-webfont.eot');
	src: url('VeraMono-webfont.eot?#iefix') format('embedded-opentype'),
	     url('VeraMono-webfont.woff') format('woff'),
	     url('VeraMono-webfont.ttf') format('truetype'),
	     url('VeraMono-webfont.svg#BitstreamVeraSansMono') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BitstreamVeraSansMono';
	src: url('VeraMono-Bold-webfont.eot');
	src: url('VeraMono-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('VeraMono-Bold-webfont.woff') format('woff'),
	     url('VeraMono-Bold-webfont.ttf') format('truetype'),
	     url('VeraMono-Bold-webfont.svg#BitstreamVeraSansMono') format('svg');
	font-weight: bold;
	font-style: normal;
}

.site {max-width:940px;margin:0 auto;padding:1.5em 10px;font-family:'BitstreamVeraSansMono',Consolas,monospace;line-height:1.5;}

.branding, .main, .foot {clear:both;}
header.branding, footer.foot {border:12px solid transparent;overflow:hidden;
	-moz-border-image:url("images/slashb.png") 12 7 12 0 round;
    -webkit-border-image:url("images/slashb.png") 12 7 12 0 round;
    -o-border-image:url("images/slashb.png") 13 7 13 0 round;
    border-image:url("images/slashb.png") 12 7 12 0 round;
}

h1, h2, h3, h4, h5, h6 {font-size:1.25em;line-height:1.2em;margin:1.2em 0 0;}
h2 {margin:1.2em 0 .6em;}
h3 {font-size:1.125em;line-height:1.33333333em;margin:1.33333333em 0 .66666667em;}
h4 {font-size:1em;line-height:1.5;margin:1.5em 0 0;}
h5 {font-size:.875em;line-height:1.71428571em;margin:1.71428571em 0 0;text-transform:uppercase;}
p, ol, ul, li, dl {margin-top:0;margin-bottom:0;}
p, ol, ul, dl {margin-bottom:1.5em;}
ol ol, ul ul {margin-bottom:0;}
p.details, p.details a {color:#aaa;margin-bottom:0;}
p.details a:hover {color:red;}
p.details time {text-transform:lowercase;}

a {color:#222;
	-moz-transition-property:color, background-color, border-color;-moz-transition-duration:.15s;
	-webkit-transition-property:color, background-color, border-color;-webkit-transition-duration:.15s;
	transition-property:color, background-color, border-color;transition-duration:.15s;
}
a:before, a:after {
	-moz-transition-property:color, background-color, border-color;-moz-transition-duration:.15s;
	-webkit-transition-property:color, background-color, border-color;-webkit-transition-duration:.15s;
	transition-property:color, background-color, border-color;transition-duration:.15s;
}
a:hover {text-decoration:underline;color:red;}

/* flag titles */
.branding hgroup h1,
.home section.blog > h1,
.home section.sidebar .widget-title,
.search .button {height:0;border:.6875em solid red;border-right-color:transparent;float:left;font-size:1em;line-height:1.5;margin:0;}

.branding hgroup h1 span,
.home section.blog > h1 span,
.home section.sidebar .widget-title span, 
.search .button {float:left;font-size:1em;line-height:1.5em;letter-spacing:1px;margin:-.6875em 0 0;padding:0 .5em 0 0;text-transform:uppercase;color:#fff;font-weight:normal;}

.branding hgroup h1 span,
.search .button {
	-moz-transition:padding .15s;
	-webkit-transition:padding .15s;
	transition:padding .15s;
}
.branding hgroup h1 span:hover {padding-right:.75em;}

/* branding */
header.branding {border-width:0 0 12px;margin-bottom:1.5em;}
.branding hgroup, .branding nav {overflow:hidden;padding-bottom:.75em;}
.branding hgroup {float:left;}
.branding nav {float:right;}
.branding nav.generated .narrow {display:none;}
.branding hgroup h1 a {color:#fff;text-decoration:none;}
.branding hgroup h2 {display:none;}

/* nav */
nav li.disabled:not(.current-menu-item), .widget_nav_menu li.disabled {opacity:.5;}
nav li > a, nav li > span, .widget_nav_menu li > a, .widget_nav_menu li > span {padding:.25em .25em .125em;}
nav a, .widget_nav_menu a {color:#222;text-decoration:none;}
nav a:hover, .widget_nav_menu a:hover {text-decoration:hover;}

nav ul {margin-left:.3em;}
nav li {text-transform:uppercase;}
nav li:first-child {margin-left:-.3em;}
nav li:before {content:":";color:#222;margin:0 .15em 0 -.3em;}
nav li:first-child:before {content:"";margin:0;}
nav li.current-menu-item a, nav li.current-menu-item span {color:red;}
nav li.menu-item-type-custom a[href="/"], nav li.menu-item-type-custom a[href="/en/"] {color:#0c0;}

.widget_nav_menu li {margin-left:-.1875em;}
.sidebar-second ul {float:right;}

/* page header */
.main > header {font-size:2em;margin:0 0 .75em;}
.main > header h1 {font-size:2em;line-height:1.03125em;letter-spacing:-0.03125em;margin:.25em 0;}
.main > header h2 {font-size:1em;line-height:1.5em;margin:.25em 0;}
.main > header a {text-decoration:none;}
.main > header .carousel {position:relative;}
.main > header .carousel .hidden {display:none;}
.main > header .carousel hgroup {padding:0 0 .25em;}
.main > header .carousel hgroup h1 {margin-top:0;}
.main > header .carousel hgroup h2 {margin-bottom:0;}
.main > header .carousel hgroup a, .main > header hgroup.showlinks a {text-decoration:none;border-bottom:.1em solid #222;margin-bottom:-.1em;}
.main > header .carousel hgroup a:hover, .main > header hgroup.showlinks a:hover {border-color:red;}
.main > header .carousel .flip {font-size:3em;position:absolute;top:0;color:#ccc;line-height:1.5;display:none;}
.main > header .carousel .next {right:-.7em;}
.main > header .carousel .previous {left:-.7em;}
.main > header .delim {font-size:.75em;}

/* front */
.home section.blog {margin:0 0 3em;}
.home section.blog > h1, .home section.sidebar .widget-title {margin:0 0 .75em;}
.home section.sidebar .widget-content {clear:both;}
.home section.sidebar .widget-content h2 {margin:1.2em 0 0;}
.home section.sidebar .widget-content ul, .home section.sidebar .widget-content li {list-style:none;margin-left:0;padding-left:0;}

section.blog, section article .body {margin:1.5em auto;}
section article {margin:0 0 3em;}
section article header a {text-decoration:none;}
section article .category {float:left;color:#999;text-transform:lowercase;padding:0 .5em 0 0;}

/* post listing */
section.blog article {clear:both;margin-bottom:0;}
section.blog article h1 a:link {text-decoration:none;}
section.blog article .body {margin:0;}
section.blog article footer {margin-top:-1.5em;overflow:hidden;}
section.blog article footer .morelink {float:right;}
section.blog article footer a {color:#666;text-transform:lowercase;}
section.blog article footer a:hover {color:red;}

/* single */
section.single article header {font-size:2em;line-height:1.3125em;}
section.single article header h1 {font-size:2em;line-height:1.03125em;margin:0;}
section.single article header h1 a:hover {color:#222;text-decoration:none;}
section.single article header h2 {font-size:1em;line-height:1.3125em;}
section.single hgroup *:not(:first-child) {margin-top:0;}
section.single hgroup *:not(:last-child) {margin-bottom:0;}
section.single .connected {margin-top:-1.5em;}

nav.ears {margin:1.5em 0;}
nav.ears:after {display:block;height:0;visibility:hidden;content:"";clear:both;}
/*nav.ears a {
	-moz-transition-property:left, right, margin-left, margin-right;-moz-transition-duration:.15s;
	-webkit-transition-property:left, right, margin-left, margin-right;-webkit-transition-duration:.15s;
	transition-property:left, right, margin-left, margin-right;transition-duration:.15s;
}*/
nav.ears a:before, nav.ears a:after {position:relative;display:inline-block;width:1em;}
nav.ears .next {float:left;}
nav.ears .previous {float:right;text-align:right;}
nav.ears .previous:after {content:"\203A";}
nav.ears .next:before {content:"\2039";}

/* page */ 
section.page article header h2 {margin:0;}

/* foot */
footer.foot {font-size:.875em;border-width:12px 0 0;padding-top:.85714286em;margin-top:1.71428571em}

@media screen and (max-width:600px) {
	body {font-size:.875em;}
	.main > header, section.single article header {font-size:1em;}
	footer.foot {font-size:1em;padding-top:.75em;margin-top:1.5em;}
}
@media screen and (max-width:500px) {
	.branding nav.generated .narrow {float:right;display:block;height:1.5em;}
	.branding nav.generated .narrow a {float:right;display:block;font-size:1.5em;line-height:.25em;padding:0 .25em;height:1em;margin:0 0 1em;text-decoration:none;}
	.branding nav.generated .narrow select {display:block;clear:both;width:1.5em;}
	.branding nav.generated ul {display:none;}
	.branding nav.generated.show {margin-top:-2.125em;}
	.branding nav.generated.show ul {display:block;clear:both;}
}
@media screen and (min-width:660px) {
	nav.ears .next:before {margin-right:-1em;left:-1em;}
	nav.ears .previous:after {margin-left:-1em;left:1em;}
}
@media screen and (min-width:640px) {
	nav.ears a {display:block;width:48.3870968%;}
	section article .body, section article footer, section.blog {width:620px;margin-left:auto;margin-right:auto;}
	section.blog article .body, section.blog article footer {width:auto;}
}
@media screen and (min-width:940px) {
	section article .body, section article footer, section.blog {width:65.9574468%;margin-left:auto;margin-right:auto;}
	section.blog article .body, section.blog article footer {width:auto;}
	.home section.sidebar {float:left;width:31.9148936%;}
	.home section.blog {float:left;margin-left:2.12765957%;margin-right:0;}
	.two-sidebars .sidebar-first {width:65.9574468%;}
	.two-sidebars .sidebar-second {width:31.9148936%;margin-left:2.12765957%;margin-right:0;}
}
@media screen and (min-width:860px) {
	section.single article header {background:#fff;z-index:1;position:relative;}
	nav.ears a {position:fixed;top:50%;font-size:.75em;width:100px;margin-top:-6em;color:#666;}
	nav.ears a:before, nav.ears a:after, nav.ears .next:before, nav.ears .previous:before {display:block;margin:0;left:0;right:0;font-size:6em;line-height:1;width:100%;text-align:center;color:#ccc;}
	nav.ears .previous:after {content:"";}
	nav.ears .previous:before {content:"\203A";}
	nav.ears .next {left:10px;margin-left:0;}
	nav.ears .previous {right:10px;margin-left:0;}
}
@media screen and (min-width:960px) {
	nav.ears .next {left:50%;margin-left:-470px;}
	nav.ears .previous {left:50%;right:auto;margin-left:370px;}
	nav.ears a:hover {text-decoration:none;color:#222;}
	nav.ears a:hover:before, nav.ears a:hover:after {color:#222;}
}
@media screen and (min-width:1080px) {
	.main > header .carousel .flip {display:block;
		-moz-transition:color .15s;
		-webkit-transition:color .15s;
		transition:color .15s;
	}
	.main > header .carousel .flip:hover {color:#222;}
}
@media screen and (min-width:1180px) {
	nav.ears a {position:fixed;margin-top:-6em;}
	nav.ears .next {margin-left:-580px;}
	nav.ears .previous {margin-left:480px;}
}
.site-generator {display:none;}


/* search hacks */
.search-term { font-size: 0.5em; margin-bottom: 0; }
.italic { font-style: italic; }
.search-res { float: left; width: 100%; }
.search-res .cover { float: left; margin: 0 1em 1em 0;}
.search-res .cover img { width: 7em; height: 100%; }
.search-res .meta { width: 25em; float: left; }
.search-res .meta h3 { margin-bottom: 0; margin-top: 0;}
.search-res .meta .year { margin-bottom: 0.3em; }
.search-res .meta .authors { font-style: italic;}

.search-res .download { width: 2em; float: left; margin-top: 2em;}

.search { padding-bottom: 2em;}
.search p { text-align: center; margin-bottom: 1em; font-size: 0.75em; line-height: 1.50em; }
.search form { margin: 0 auto; width: 36em;}
.search form input { border: 1px solid #222; height: 1.1em; float: left; margin: -.6875em 0.3em 0; width: 29em;}
.search .button { line-height: 0.2em; width: 4em;}

header.book-desc h2 { margin-top: 0; }
header.book-desc h3 { margin-bottom: 0; text-decoration: underline; }
header.book-desc .authors { font-style: italic; font-size: 0.5em; line-height: 1.5em; font-weight: normal; margin-top: 0.5em; }

section.book-desc img { margin: 0 1em 0; float: left; width: 10em;}
.links ul li { list-style-type: none; }
